@keyframes rotate-figure {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotate-figure 20s linear infinite;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
}

.logo {
  background-image: url("../images/logo.svg");
  z-index: 2;
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  background-image: url("../images/logo_white.svg");
  background-size: cover;
  width: 185px;
  height: 35px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  display: block;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 30px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.techniques {
  padding-top: 100px;
}

.techniques__wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0;
  width: 60%;
  font-size: 60px;
  line-height: 1.15em;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.cards {
  width: 920px;
  font-size: 0;
}

.cards__item {
  margin: 60px 100px 0 0;
  display: inline-block;
  max-width: 240px;
  vertical-align: top;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin: 0 40px 43px;
}

.cards__title {
  margin: 0 0 16px 0;
  font-size: 24px;
  line-height: 1.15em;
  font-weight: bold;
  text-align: center;
}

.cards__description {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-align: center;
}

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  margin: 50px auto 0;
  font-size: 0;
  max-height: 250px;
}

.video__iframe {
  margin-right: 20px;
}

.video__iframe:last-child {
  margin: 0%;
}

.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman {
  padding-top: 80px;
  background-color: #f2f2f2;
  background-image: url("../images/feinman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  position: relative;
  min-height: 890px;
}

.feynman__wrapper {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feynman__title {
  width: 648px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 0;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
}

.table__wrapper {
  margin: auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__headind {
  margin: 0;
  font-size: 24px;
  line-height: 1.15em;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
}

.khan {
  padding-top: 100px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  margin: 50px 0 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 36px 0 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  font-size: 0;
  margin-top: 68px;
}

.khan__book-pic {
  background-image: url("../images/khan-book.jpg");
  display: inline-block;
  width: 608px;
  height: 620px;
  margin-right: 48px;
}

.khan__buy-link {
  display: inline-block;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  vertical-align: top;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}

.table_theme_dark {
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.kaufman__triangle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -210px;
}

.resources {
  padding: 100px 0 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin: 20px 0 16px;
  list-style-type: none;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.footer__column-link:last-child {
  margin: 0;
}
